#pdfView
{
    float: left;
    width: 50%;
    max-width: 50%;
    height: 100%;
    margin: auto;
}
#tabDiv
{
    width:100%;
}
#tabs
{
    height: 100%;
    border: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-color: gainsboro;
    padding: 5px;
    margin-bottom: 5px;
}

#questionView, #hypoSection
{
    float: right;
    width: 50%;
    height: 100%;
}

#modNameDiv, #pageDiv
{
    text-align: center;
}

#question, #hypoQuestions
{
    text-align: center;  
    border: solid;
    border-width: 1px;
    border-color: gainsboro;
    margin: 10px;
    height: auto;
    padding: 20px;
    position: relative;
}
#submit
{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#next
{
    float: right;
    margin: 10px;
}

embed
{
    width: 100%;
    height: 100%;
}
#error, #hypoError
{
    color: red;
}
#valid
{
    color: green;
}

#hints
{
    text-align: center;
    padding: 20px;
}

table
{
    width: 50%;
    font-size-adjust: auto;
}



