
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}
li{
	float: left;
    border-right: 1px solid #cccccc;
}

#lastElement{
    border-right:none;
    border-left: 1px solid #cccccc;
}

li a{
	display:block;
	text-align: center;
	padding: 20px 40px;
    text-decoration: none;
    color: #666666;
}

li a:hover{
    background-color: #cccccc;
}

#l{
	float: left;
	width: 25%;
}

#assignments{
	width: 25%;
	padding: 10px;
	border: 2px solid #333;
}

#button{
	border: 2px solid #333;
	padding: 10px 12px;
	text-decoration: none;
	background-color: white;
}
#aList{
	margin: 10px;
	padding: 10px;
}

#assignName{
	border: 2px solid #333;
	width: 30%;
	padding: 14x 12px;
	font-size: 1.25em;
	
}
#dd{
	float:right;
	padding: 10x 8x;
	font-size: 1.25em;
}
#month, #day{
	float: right;
	padding: 10px 8px;
	font-size: 1.25em;
}

#edit{
	padding: 10px;
	margin: 10px;
}

